/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}

.sidebar{
    position: relative;
    height: 100%;
    height: 100%;
    min-height: 550px;
    background-color: #05152c;
    padding: auto;
    border-radius: 5px
}

.sidebar .logo_content .logo{
  color:  #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.logo_content .logo box-icon{
  font-size: 28px;
  margin-right: 9px;
  line-height: 0;
   color:  #fff;
}

.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn{
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar ul{
  margin-top: 20px;
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}


.sidebar ul li #span{
  color:  #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul Link{
  color:  #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li #span:hover{
  color: #11101d;
  background:  #fff;
  border-radius: 5px;
}


.sidebar ul li #span box-icon{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 110px;
  text-align: center;
  color: #fff;
  
}

.sidebar .profil_content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profil_content .profil{
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background:#122846;
}

.profil_content .profil .profil_details{
  display: flex;
  align-items: center;
  text-align: center;
}

.profil .profil_details img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profil .profil_details .name_job{
margin-left: 10px;
}

.profil .profil_details .name{
  font-size: 15px;
  font-weight: 400;
}

  .profil .profil_details .job{
    font-size: 12px;
}

.profil #log_out{
  position: absolute;
  left: 88%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 30px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

